# combine_files
----

Written in the Python 3.7.9 Environment

By Nicole Lund 

This Jupyter Notebook combines CitiBike trip data into a single file.

In [1]:
# Import dependencies
import pandas as pd
import os
from datetime import datetime

In [2]:
# Get list of files in the folder
file_list = os.listdir()

In [3]:
# Read all files
# Collect header and first row of data for all csv files
combined_df = pd.DataFrame()

for file in file_list:
    if file[-3:] == "csv":
        csv_df = pd.read_csv(file)
        # csv_df['filename'] = file
        if (combined_df.size == 0):
            combined_df = csv_df
        else:
            combined_df = combined_df.append(csv_df)
    else:
        print(file + " not a csv")

citibike_larger_data_set.twbx not a csv
combine_files.ipynb not a csv
January_2018-2021_citibike_trip_data.csvold not a csv

In [4]:
print(combined_df.columns)
combined_df.head(3)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1

In [5]:
# Rename Columns
combined_df = combined_df.rename(columns={
    "tripduration": "Ride Duration (minutes)",
    "starttime":"Ride Start Date",
    "stoptime":"Ride End Date"})

In [6]:
# Calculate and add Ride Duration to DataFrame
combined_df['Ride Duration (minutes)'] = combined_df['Ride Duration (minutes)']/60

In [7]:
combined_df.head()

,Ride Duration (minutes),Ride Start Date,Ride End Date,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,16.166667,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,12.050000,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,8.266667,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,5.100000,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,5.100000,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [8]:
# Calculate and add Age to DataFrame
birth_year = combined_df["birth year"].array
ride_start = combined_df["Ride Start Date"].array
ride_year = []
for ride in ride_start:
    # print(ride)
    ride_year.append(datetime.strptime(ride,'%Y-%m-%d %H:%M:%S.%f').year)
age = ride_year - birth_year
combined_df['Age'] = age

In [9]:
# Calculate and add Ride Count to DataFrame
combined_df['Ride Count'] = age * 0 + 1

In [10]:
# Calculate and add Gender to DataFrame
gender = combined_df["gender"].array
gender_alias = []
for customer in gender:
    if customer == 0:
        customer_gender = "z_Unknown"
    elif customer == 1:
        customer_gender = "Men"
    elif customer == 2:
        customer_gender = "Women"
    else:
        customer_gender = "Undefined"
    gender_alias.append(customer_gender)
combined_df['Gender'] = gender_alias
combined_df = combined_df.drop(columns=['gender'])

In [11]:
combined_df

,Ride Duration (minutes),Ride Start Date,Ride End Date,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Age,Ride Count,Gender
0,16.166667,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,26,1,Men
1,12.050000,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,49,1,Men
2,8.266667,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,62,1,Men
3,5.100000,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,44,1,Men
4,5.100000,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,26,1,Men
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095341,9.483333,2021-01-31 23:54:00.3610,2021-02-01 00:03:29.8190,3300.0,Prospect Park West & 8 St,40.665147,-73.976376,3395.0,Henry St & W 9 St,40.676374,-74.003250,47613,Subscriber,1958,63,1,Men
1095342,23.983333,2021-01-31 23:55:50.4170,2021-02-01 00:19:49.8980,3081.0,Graham Ave & Grand St,40.711863,-73.944024,307.0,Canal St & Rutgers St,40.714275,-73.989900,36798,Subscriber,1988,33,1,Men
1095343,43.650000,2021-01-31 23:56:14.9540,2021-02-01 00:39:54.3500,447.0,8 Ave & W 52 St,40.763707,-73.985162,4058.0,Madison Av & E 51 St,40.758630,-73.975130,48698,Subscriber,1985,36,1,Men
1095344,1.383333,2021-01-31 23:59:19.8260,2021-02-01 00:00:43.5840,3462.0,E 44 St & 2 Ave,40.751184,-73.971387,3462.0,E 44 St & 2 Ave,40.751184,-73.971387,49619,Subscriber,1969,52,1,Men
1095345,21.883333,2021-01-31 23:59:40.4440,2021-02-01 00:21:33.8470,504.0,1 Ave & E 16 St,40.732219,-73.981656,3687.0,E 33 St & 1 Ave,40.743227,-73.974498,47863,Subscriber,1990,31,1,Men

In [12]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4022223 entries, 0 to 1095345
Data columns (total 17 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Ride Duration (minutes)  float64
 1   Ride Start Date          object
 2   Ride End Date            object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  Age                      int64
 15  Ride Count               int64
 16  Gender                   object
dtypes: float64(7), int64(4), object(6)
memory usage: 552.4+ MB

In [13]:
# Export to csv (do not include index)
combined_df.to_csv("January_2018-2021_citibike_trip_data.csv",index=False)